.fishAndCare {
    display: flex;
    padding: 5%;
    justify-content: center;
    border: 1px dotted green;
    margin: 1em;
}

.fishOwned {
    display: flex;
    flex-direction: column;
    border: 1px dotted crimson;
    padding: 1em;
    margin: 1em;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.fishPic {
    height: 10rem;
    width: 10rem;
    margin: 1rem;
}
.fish {
    border: 1px dotted crimson;
    margin: 1rem;
}
.fishQuality {
    color: red;
}

.fishCare {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid orange;
    margin: 1em;
    padding: 1em

}

.martinQuotes{
    display: flex;
    flex-direction: column;
    border: 1px dotted blue;
    padding: 1em;
    margin: 1em;
    align-items: center;
}

.fishFrom{
    display: flex;
    flex-direction: column;
    border: 1px dashed purple;
    padding: 1em;
    margin: 1em;
}

